.community_list{
    padding-top: 70px;
    padding-bottom: 70px;
}
.community_list .container{
    max-width: 1100px;
    margin: auto;
}
.community_list .container .title ul{
    padding-left: 0;
    list-style: none;
}
.community_list .container .title ul li{
    display: inline;
    margin-right: 30px;
}
.community_list .container .title ul li a{
    text-decoration: none;
    color:#444;
}
.community_list .container .item_list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.community_list .container .item_list .card{
    position: relative;
    border: 1px solid #eeeeee90;
    border-radius: 5px;
    height: 350px;
    width: 225px;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: white;
}
.community_list .container .item_list .card:hover{
    background-color: black;
}
.community_list .container .item_list .card img{
    height: 175px;
    width: 225px;
}
.community_list .container .item_list .card .text{
    font-size: 10px;
    opacity: 1;
    color: black;
}
.community_list .container .item_list .card:hover .text{
    color: white;
    transition: .5 ease;
}
.community_list .container .item_list .card .text p{
    font-size: 9px;
    opacity: .8;
    color: black;
}
.community_list .container .item_list .card:hover .text p{
    color: white;
}
