.header_img{
    background: url(./img/TitleImg_2.png) no-repeat center center;
    background-position: center;
    background-size: 100% auto; /*cover*/
    height: auto /*700px*/;
    aspect-ratio: 9 / 6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_img .title{
    text-align: center;
}
.header_img .title h1{
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 0.2em;
    margin-bottom: 0;

}
.header_img .title p{
    margin-top: 0;
    margin-bottom: 30px;
    color: #ffffff;
}