body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.side_bar > ul ul {
    display: none;
}
:root {
    --side_bar-width: 180px;
    --side_bar-height: 90vh;
}
.side_bar {
    position: fixed;
    background-color: black;
    width: var(--side_bar-width);
    min-height: var(--side_bar-height);
    margin-top: calc((100vh - var(--side_bar-height)) / 2);
    border-radius: 20px;
    transform: translate(calc(var(--side_bar-width) * -0.8), 0);
    transition: .5s;
}
.side_bar:hover {
    transform: translate(-20px, 0);
}
.side_bar ul > li > a {
    display: block;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}
.side_bar > ul > li {
    position: relative;
}
.side_bar ul > li:hover > a{
    background-color: #555;
    border-bottom: 1px solid #999;
}
.side_bar_icon {
    display: flex;
    justify-content: flex-end;
}
.side_bar_hamburger_menu {
    position: relative;
    width: 23px;
    height: 17px;
    margin: 15px;
    margin-top: 20px;
    transition: .5s;
}
:root {
    --side_bar_icon: .5s;
}
.side_bar_hamburger_menu > div {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: white;
    transition: all var(--side_bar_icon) ease-out;
}
.side_bar_hamburger_menu > div:nth-of-type(1) {
    top: 0;
    width: auto;
    left: 0;
    right: 0;
    transition: all var(--side_bar_icon),
        left calc(var(--side_bar_icon) / 2) calc(var(--side_bar_icon) / 2),
        right calc(var(--side_bar_icon) / 2) calc(var(--side_bar_icon) / 2),
        height calc(var(--side_bar_icon) / 2) 0s;
}
.side_bar_hamburger_menu > div:nth-of-type(2) {
    top: 40%;
    transform-origin: center left;
}
.side_bar_hamburger_menu > div:nth-of-type(3) {
    top: 80%;
    left: auto;
    right: 0;
    transform-origin: bottom right;
}
.side_bar:hover .side_bar_hamburger_menu {
    /*transform: translate(calc(40, 0));*/
    padding-left: 50px;
    width: var(--side_bar-width);
}
.side_bar:hover .side_bar_hamburger_menu > div:nth-of-type(2) {
    transform: rotate(90deg);
    top: 20;
    width: 18%;
    height: 20%;
    left: 12px;
}
.side_bar:hover .side_bar_hamburger_menu > div:nth-of-type(3) {
    top: 70;
    left: 10px;
    transform: none;
    width: 35%;
    height: 10%;
}
.side_bar:hover .side_bar_hamburger_menu > div:nth-of-type(1) {
    top: 35%;
    left: 10px;
    right: 0;
    width: 35%;
    height: 15%;
    transition: all var(--side_bar_icon),
        left calc(var(--side_bar_icon) / 2) 0s,
        right calc(var(--side_bar_icon) / 2) 0s,
        height calc(var(--side_bar_icon) / 2) calc(var(--side_bar_icon) / 2);
}
.logo_text_shot, .logo_text_clip {
    position: absolute;
    top: 100%;
    left: 15px;
    letter-spacing: 0.2em;
    transform: translateY(-50%); 
    color: white;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.4s ease, left 0.4s ease;
    pointer-events: none;   /*hover 금지*/
}

.side_bar:hover .logo_text_clip {
    opacity: 1;
    top: 0;
    font-size: 0.5em;
    letter-spacing: 0.1em;
}
.side_bar:hover .logo_text_shot {
    opacity: 1;
    top: 150%;
    font-weight: bold;
}